* {
    box-sizing: border-box;
}

:root {
    --primary-color: #F44336;
}

body {
    background-color: #EEE;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 10px;
    text-align: center;
    margin: 0 0 50px;
    background-color: white;
}
@media (min-width:992px) {
    .guess-game{
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }
}
.guess-game {
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    justify-content: space-between;
    .game-arae {
        .inputs {
            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                span{
                    font-size: 25px;
                    margin-right: 15px;
                    font-weight: bold;
                }
                
                input{
                    width: 60px;
                    height: 60px;
                    border: none;
                    border-bottom: 2px solid #27303f;
                    margin: 0 5px;
                    font-size: 50px;
                    text-align: center;
                    background-color: white;
                    &:focus{
                        outline-color:#ccc ;
                    }
                    &.yes-in-place {
                        background-color: #f89e13;
                        border: #f89e13;
                        color: white;
                    }
                    &.not-in-place {
                        background-color: #18ba89;
                        border: #18ba89;
                        color: white;
                    }
                    &.no {
                        background-color: #27303f;
                        border: #27303f;
                        color: white;
                    }
                }
                
            }
            .disabled-inputs{
                opacity: 0.5;
                pointer-events: none;
            }
        }
        .control{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 500px;
            margin: 30px auto;
            button{
                padding: 15px 20px;
                border-radius: 6px;
                font-size: 25px;
                color: white;
                cursor: pointer;
                border: none;
                font-weight: bold;
            }
            .check{
                background-color: var(--primary-color);
                flex: 1;
            }
            .hint{
                background-color: #009688;
            }
            button:disabled{
                cursor: no-drop;
                background-color: black;
                opacity: 0.4;
            }
        }
        .message{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            span{
                font-size: 50px;
                display: block;
                color: var(--primary-color);
                text-transform: capitalize;
                margin-top: 15px;
            }
            p{
                margin-top: 15px;
            }
        }
    }
    .key-colors {
        .key-color {
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 10px;
            background-color: white;
            .key {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
                &.in-place {
                    background-color: #f89e13;
                }
                &.not-in-place {
                    background-color: #18ba89;
                }
                &.no {
                    background-color: #27303f;
                }
            }

            .key-text {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
@media (max-width : 992px) {
    .guess-game{
        flex-direction: column;
        align-items: center;
        max-width: 750px;
    }
}
@media (max-width : 767px) {
    .guess-game{
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }
    input{
        width: 40px !important;
        height: 40px !important;
        font-size: 30px !important;
    }
    .control{
        max-width: 350px;
    }
    .control button{
        padding: 5px 10px !important;
    }
    
    .key-colors:last-child {
        margin-bottom: 100px;
    }
    footer{
        font-size: 15px !important;
    }

}
footer {
    padding: 10px;
    text-align: center;
    background-color: #27303f;
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}